.WorldMap {
  height: 90%;
}

.WorldMap .ant-select {
  position: absolute;
  left: 300px;
  top: 200px;
}

.label {
  text-anchor: end;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 100px;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip span {
  font-weight: bold;
}

.tooltip p {
  text-align: left;
  margin: 5px;
}
