.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: black;
}

div.main {
  display: grid;
  width: 100%;
  height: 50vh;
  max-width: 75rem;
  max-height: 900px;
  min-height: 480px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 9fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

div.main div {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 /10%), 0 2px 2px rgb(0 0 0 /8%);
}

div.header {
  margin: 10px 0 0 10px;
  min-width: 200px;
}

div.control {
  margin: 10px 10px 0 0;
}

div.picker {
  margin: 0 0 10px 10px;
}

div.chart {
  margin: 0 10px 10px 0;
  min-height: 600px;
}
